<header class="header">
    <nav class="nav">
        <div class="container-fluid">
            <a href="/"><img src="https://dollarcity.com/img/resources/logo.png" alt="Logo Dollarcity"></a>
        </div>
        <ul class="menu">
            <li class="items">
                <a href="/">Inicio</a>
            </li>
            <li class="items">
                <a href="#">Contacto</a>
            </li>
        </ul>
    </nav>
</header>

<main>
<img class="banner" src="../../assets/img/DC2021_FEB_SITIOWEB_BANNER_ESPACIOS.jpg" alt="">
    <section id="hero">
        
        <h1>BIENVENIDOS</h1>
        <P>
            ¿Quieres ser parte del equipo de proveedores?
        </P>
        <a href="/provider" class="btn">Click aquí</a>
    </section>
</main>

<footer class="footer">
    <p>
        DOLLARCITY TRABAJA CON NAVEGADORES QUE POSEEN NIVELES DE SEGURIDAD EXIGIDOS PARA SER UTILIZADOS EN LA CONEXIÓN
        CON EL SITIO WEB.
        CON EL PROPÓSITO DE GARANTIZAR QUE UTILICES LAS VERSIONES COMPATIBLES, TE SUGERIMOS QUE ACTUALICES A LA ÚLTIMA
        DISPONIBLE.

        © 2023 <a href="http://https://dollarcity.com/">DOLLARCITY</a> DERECHOS RESERVADOS
    </p>
</footer>