<header class="header">
  <nav class="nav">
    <div class="container-fluid">
        <a href="/hero"><img src="https://dollarcity.com/img/resources/logo.png" alt="Logo Dollarcity"></a>
    </div>
    <ul class="menu">
      <li class="items">
          <a href="#">Inicio</a>
      </li>
      <li class="items">
          <a href="#">Contacto</a>
      </li>
  </ul>
</nav>
</header>

<div class="formulario"> 
<h1>Agregar datos</h1>
<h3>Representante Legal </h3>
<hr class="separador">

<form (submit)="crearRepresentanteLegal()">
  <div class="items-form">
    <label for="name_representative">Nombre:</label>
    <input type="text" id="name_representative" name="name_representative" [(ngModel)]="nuevoRepresentante.name_representative" required>
  </div>

  <div class="items-form">
    <label for="document_identity">Documento de Identidad:</label>
    <input type="text" id="document_identity" name="document_identity" [(ngModel)]="nuevoRepresentante.document_identity" required>
  </div>

  <div class="items-form">
    <label for="address_office">Dirección de Oficina:</label>
    <input type="text" id="address_office" name="address_office" [(ngModel)]="nuevoRepresentante.address_office" required>
  </div>

  <div class="items-form">
    <label for="city">Ciudad:</label>
    <input type="text" id="city" name="city" [(ngModel)]="nuevoRepresentante.city" required>
  </div>

  <div class="items-form">
    <label for="phone_company">Telefono Empresa:</label>
    <input type="text" id="phone_company" name="phone_company" [(ngModel)]="nuevoRepresentante.phone_company" required>
  </div>

  <div class="items-form">
    <label for="mail_representative">Correo Electronico:</label>
    <input type="mail" id="mail_representative" name="mail_representative" [(ngModel)]="nuevoRepresentante.mail_representative" required>
  </div>

  <div class="items-form">
    <label for="country">Pais:</label>
    <input type="text" id="country" name="country" [(ngModel)]="nuevoRepresentante.country" required>
  </div>

  <div class="items-form">
    <label for="cellphone">Celular:</label>
    <input type="text" id="cellphone" name="cellphone" [(ngModel)]="nuevoRepresentante.cellphone" required>
  </div>

  <div class="items-form">
    <label for="position_job">Cargo:</label>
    <input type="text" id="position_job" name="position_job" [(ngModel)]="nuevoRepresentante.position_job" required>
  </div>

  <div class="items-form">
    <input type="hidden" id="provider_id" name="provider_id" value={{providerId}} [(ngModel)]="nuevoRepresentante.provider_id" required>
  </div>
  <!-- Agrega más campos según tus necesidades -->

  <button class="btn" type="submit">Siguiente</button>
</form>
</div>


<footer class="footer">
  <p>
      DOLLARCITY TRABAJA CON NAVEGADORES QUE POSEEN NIVELES DE SEGURIDAD EXIGIDOS PARA SER UTILIZADOS EN LA CONEXIÓN
      CON EL SITIO WEB.
      CON EL PROPÓSITO DE GARANTIZAR QUE UTILICES LAS VERSIONES COMPATIBLES, TE SUGERIMOS QUE ACTUALICES A LA ÚLTIMA
      DISPONIBLE.

      © 2023 <a href="http://https://dollarcity.com/">DOLLARCITY</a> DERECHOS RESERVADOS
  </p>
</footer>